<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Businnes, Portfolio, Corporate"> 
	<meta name="Author" content="WebThemez"> 
    <title>Smartstudy Square</title>
    <link rel="stylesheet" href="static/SmartstudySquare/css/normalize.css">
    <link rel="stylesheet" href="static/SmartstudySquare/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/SmartstudySquare/css/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="static/SmartstudySquare/elegant_font/style.css" />
    <!--[if lte IE 7]><script src="static/SmartstudySquare/elegant_font/lte-ie7.js"></script><![endif]-->
    <link rel="stylesheet" href="static/SmartstudySquare/css/magnific-popup.css">
    <link rel="stylesheet" href="static/SmartstudySquare/css/slider-pro.css">
    <link rel="stylesheet" href="static/SmartstudySquare/css/owl.carousel.css">
    <link rel="stylesheet" href="static/SmartstudySquare/css/owl.theme.css">
    <link rel="stylesheet" href="static/SmartstudySquare/css/owl.transitions.css">
    <link rel="stylesheet" href="static/SmartstudySquare/css/animate.css">
	    <link rel="stylesheet" href="static/SmartstudySquare/elegant_font/style.css">
    <link rel="stylesheet" href="static/SmartstudySquare/css/style.css">

    <!--[if lt IE 9]>
        <script src="static/SmartstudySquare/js/html5shiv.min.js"></script>
        <script src="static/SmartstudySquare/js/respond.min.js"></script>
        <script type="text/javascript" src="static/SmartstudySquare/js/selectivizr.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Preloader -->
    {%  if alert_flag1  and alert_flag2  %}
    <script>alert("Message sent successfully. We will reply to you shortly." )</script>
    {% elif alert_flag1 and  not alert_flag2  %}
     <script>alert("Message not sent. Please whatsapp your query at +91 94713 53074")</script>
    {% else %}
    {% endif%}
    <div class="preloader">
        <div class="status"></div>
    </div>
 
    <!-- Header End -->
    <header>
        <!-- Navigation Menu start-->
		
	<nav id="topNav" class="navbar navbar-default main-menu">
    <div class="container">
        <button class="navbar-toggler hidden-md-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            ☰
        </button> 
		 <a class="navbar-brand page-scroll" href="#slider"><img class="logo" id="logo" src="static/SmartstudySquare/images/logo.png" alt="logo"></a>
        <div class="collapse navbar-toggleable-sm" id="collapsingNavbar">
            <ul class="nav navbar-nav">
                 <li class="active">
                            <a href="#slider">HOME</a>
                        </li>
                        <li>
                            <a href="#about">ABOUT</a>
                        </li>
                    </li>
                    <li>
                       <a href="#message">Message</a>
                   </li>
                   <li>
                    <a href="#pricing">Services</a>
                    </li>
                        <li>
                            <a href="#portfolio">Gallery</a>
                        </li>
                        <li>
                            <a href="#contact">CONTACT US</a>
                        </li>
            </ul> 
        </div>
    </div>
</nav>

        
    </header>
    <!-- Header End -->


    <section class="slider-pro slider" id="slider">
        <div class="sp-slides">

            <!-- Slides -->
            <div class="sp-slide main-slides">
                <div class="img-overlay"></div>

                <img class="sp-image" src="static/SmartstudySquare/images/slider/slider-img-11.jpg" alt="Slider 1"/>
                <div class="caption">
					<h1 class="sp-layer slider-text-big"
					data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
					<span class="highlight-texts">Above and Beyond!</span>
					</h1> 
					<p class="sp-layer"
					data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit
					</p>
				</div>
            </div>
            <!-- Slides End -->

            <!-- Slides -->
            <div class="sp-slide main-slides">
            <div class="img-overlay"></div>
                <img class="sp-image" src="static/SmartstudySquare/images/slider/slider-img-2.jpg" alt="Slider 2"/>
                <div class="caption">
                <h1 class="sp-layer slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <span class="highlight-texts">Early Learning</span>
                </h1>

                <p class="sp-layer"
                data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                </p>
				</div>
            </div>
            <!-- Slides End -->

            <!-- Slides -->
            <div class="sp-slide main-slides">
                <div class="img-overlay"></div>

                <img class="sp-image" src="static/SmartstudySquare/images/slider/slider-img-3.jpg" alt="Slider 3"/>
				<div class="caption">
                <h1 class="sp-layer slider-text-big"
                data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <span class="highlight-texts">Right Experiences</span>
                </h1>

                <p class="sp-layer"
                data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200" data-show-transition="left" data-hide-transition="right">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit
                </p>
				</div>
            </div>
            <!-- Slides End -->

        </div>
    </section>
    <!-- Main Slider End -->


    <section id="about" class="about-sec section-wrapper description">
        <div class="container">
            <div class="row">
                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                    <h2><span class="highlight-text">About</span></h2>
                   
                </div>
                <!-- Section Header End -->

                <div class="col-md-6 col-sm-6 col-xs-12 custom-sec-img wow fadeInDown">
                    <img src="static/SmartstudySquare/images/profile.png" alt="Custom Image" width=70% height=70%>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 customized-text wow fadeInDown black-ed">
				<p>Smartstudy Square is an Educational venture started by Mr. Avinash Prakash. He is a Engineering graduate from NMIMS University, Mumbai. Coming from a family of reputed teachers and professors, he has a passion for teaching. After working in the engineering field for a considerable time, he decided to start his on venture with the aim to deliver quality education to one and all. He attained his B.Ed degree and has since been delivering quality education to students in schools and private tutions. </p>
                    <div class="row"> 
                        <div class="col-md-11">
                            <strong>Skill Central</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam iusto, natus est ducimus saepe laborum</p>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-11">
                            <strong>Active Central</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam iusto, natus est ducimus saepe laborum Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-11">
                            <strong>Growth Central</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam iusto, natus est ducimus saepe laborum Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </section> 

    <section id="message" class="section-wrapper">
        <div class="container">
            <div class="row">

    <!-- Section Header -->

    <!-- Section Header End -->
    <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
        <h2><span class="highlight-text">Message</span></h2></div>
       
        <h3>&emsp;Dear Parents and Students,</h3>
        <div class="col-md-11">
            <p>If you are looking for a well qualified and experienced Home Tutor or Coaching teacher who can make learning hard concepts an easy and a fun filled process, we'd be glad to help you. We are proud to have helped parents and students who want to bring out their child's maximum potential and get more out of education.
            </p>
        </div>
					
        <div class="col-md-11">      
        <h3><Strong>What we provide</Strong></h3>     
                  <p>  Every Student is unique - differ in behavior, understanding skills and learning abilities. Some students learn quickly while some might need extra attention to bring out the best of their potential.Some students are comfortable with a classroom learning environment while some feel it to be a little restrictive and distracting. For the latter ones, home tutorial comes out to be a great option.That is why at <Strong> Smartstudy Square</Strong> we cater to all the students according to their needs.
        </div>
        <div class="col-md-11">             
                  <p><strong>Here is how we ensure to help you child :</strong></p>
<p><strong>1.Convenience for Learners</strong>&emsp;<strong>:</strong>&emsp;
The primary benefit is Convenience. We provide coaching classes as well as home tutions as per the convenience of the student. It provides the students and parents to choose what suits them and allows their child to learn in a environment of their choice. The students have a choice to learn in a competitve environment of a coaching class or in comfortable environment of his home.</p>
<p><strong>2.Dedicated attention </strong>&emsp;<strong>:</strong>&emsp;
At school, teachers are unable to focus on each and every student as a result some fall behind and find it hard to cope with others.But, here we understand that every student requires special attention and so we focus on each and every student. We make sure that your child is able to understand the topics aat their own pace. </p>
<p><strong>3.Much smaller student to teacher ratio</strong>&emsp;<strong>:</strong>&emsp;
Because private tuition takes place in small group or one-to-one, students are able to focus better and are taught in a way that specifically meets their own unique needs.</p>
<p><strong>4.Lesser distractions</strong>&emsp;<strong>:</strong>&emsp;
We provide an evironment where learners face fewer distractions in home environment or in coaching centre than in schools/colleges and other public spaces. It bring them more comfort, thereby allowing them to focus better. The sessions are also less restrictive and less formal than a school.</p>
<p><strong>5.Finding the best learning style</strong>&emsp;<strong>:</strong>&emsp;
A lot of students often feel that learning in a school classroom is quite ineffective due to the restrictions of time and resources and distractions. Students often feel that they couldn’t make the most of their time and effort. We provide a great help for such students.
We focus on finding a learning style which works for them. This helps them to develop the confidence and also improve their learning ability.</p>
        </div>
        </div>
        </div>
</section>
<section id="pricing" class="pricing-section">
    <div class="container">
        <div class="row">

            <!-- Section Header -->
            <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                <h2><span class="highlight-text">Our Services</span></h2>
               
                <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">We believe in delivering quality education and ensure that with us your child will learn things the right way. We provide <strong>Coaching classes</strong> as well as<strong> Home tutions</strong> for the below mentioned subjects and classes.</p>
            </div>
            <!-- Section Header End -->

            <div class="pricing-wrapper">

                <!-- Plans -->
                <div class="col-md-4 col-sm-4 col-xs-12 pricing-plans wow bounceInLeft hoverer">
                    <div class="pricing-titles">
                        <h2>VI - X</h2>
                        <p><span>Mathematics</span></p>
                    </div>

                     <div class="bg-btn">
                       
                    </div>
                </div>
                <!-- Plans End -->

                <!-- Plans -->
                <div class="col-md-4 col-sm-4 col-xs-12 pricing-plans wow fadeInUp hoverer" data-wow-duration="1s">
                    <div class="pricing-titles">
                        <h2>VI - X</h2>
                        <p><span>Science</span></p>
                    </div>
                    <div class="bg-btn">
                       
                    </div>
                </div>
                <!-- Plans End -->
                <div class="col-md-4 col-sm-4 col-xs-12 pricing-plans wow fadeInUp hoverer" data-wow-duration="1s">
                    <div class="pricing-titles">
                        <h2>XI - XII</h2>
                        <p><span>Mathematics</span></p>
                    </div>
                    <div class="bg-btn">
                       
                    </div>
                </div>

            </div>
        </div>
    </div> 
</section>
<!-- Pricing End -->




    <section id="portfolio" class="bgSection portfolio-section">
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                    <h2><span class="highlight-text">Video Gallery</span></h2>
                   
                </div>
                <!-- Section Header End -->

            </div>
        <div class="row">
  <div class="col-sm-8 col-md-offset-2">
    <div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
      <div class="embed-responsive embed-responsive-16by9" >
          <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/A7CSOWgN_JQ?list=PLCiLWKtxvaBkt2zfVuGd-VZX6iRjRLI-a" allowfullscreen=""></iframe></p>
      </div>
    </div>
  </div>
</div>
        <br>
        <br>
         <div class="row">
  <div class="col-sm-8 col-md-offset-2">
    <div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
      <div class="embed-responsive embed-responsive-16by9" >
          <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/NkF6JiFJbRU?list=PLCiLWKtxvaBmCHlD3qrqCCp8r2a_02rG8" allowfullscreen=""></iframe></p>
      </div>
    </div>
  </div>
</div>
        <br>
        <br>
        <div class="row">
  <div class="col-sm-8 col-md-offset-2">
    <div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
      <div class="embed-responsive embed-responsive-16by9" >
          <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/TAgruqW6ZqY?list=PLCiLWKtxvaBkRtaYK_fv6I3hqY9ioXwIr" allowfullscreen=""></iframe></p>
      </div>
    </div>
  </div>
</div>
        <br>
        <br>
        <div class="col-sm-8 col-md-offset-2">
    <div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
      <div class="embed-responsive embed-responsive-16by9" >
          <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/1leV3vCpcsM?list=PLCiLWKtxvaBlI13BTU2Slc17w7K7Gt-tQ" allowfullscreen=""></iframe></p>
      </div>
    </div>
  </div>
             <div class="col-sm-8 col-md-offset-5">
         <h3><a href = https://www.youtube.com/channel/UCTWd-4fn3KLaAN9wMfpPWtw>For more videos>>></a>
         </h3>
             </div>
        </div>
    </section>
             <!-- Portfolio Section End -->
    <section id="contact" class="section-wrapper contact-section" data-stellar-background-ratio="0.5">
        <div class="parallax-overlay"></div>
            <div class="container">
                <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
        <h2><span class="highlight-text">Contact Us</span></h2>
       
        <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">We love feedback. Fill out the form below and we'll get back to you as soon as possible. in minus distinctio dolores ipsam.</p>
    </div> 
    <!-- Section Header End -->

    <div class="contact-details">


        <!-- Contact Form -->
        <div class="contact-form wow bounceInRight"> 
    
<form id="contactForm" method="post" action = "{% url 'SmartstudySquare:index' %}" >
     {% csrf_token %}
<div class="col-md-6">

    <input type="text" class="form-control" 
    placeholder="Full Name" id="name" name="name" required
    data-validation-required-message="Please enter your name" />
    <p class="help-block"></p>
    </div> 	
    <div class="col-md-6">
    <input type="tel" class="form-control" pattern="^\d{10}$" placeholder="Mobile Number (format: xxxxxxxxxx):"
    id="mobileno" name="mobileno"required
    data-validation-required-message="Please enter your query" />
    </div> 	
    
    <div class="col-md-12">
    <textarea rows="10" cols="100" class="form-control"
    placeholder="Message" id="message" name="message" required
    data-validation-required-message="Please enter your message" minlength="5"
    data-validation-minlength-message="Min 5 characters"
              maxlength="999" style="resize:none"></textarea></div>

<div class="col-md-4 col-md-offset-5"><br><div id="success"> </div><button type="submit" class="btn btn-primary">Submit Message</button></div> 
</form>
        </div>
</div>

</div>
</div>
</section>


	
    <!-- Contact Section End -->
    <section class="footer-container" id="footer">
        <div class="container">
            <div class="row footer-containertent">
                <div class="col-md-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et porro quos iste ratione doloribus asperiores, error omnis delectus rerum sapiente. Et, aliquam modi beatae quae in perferendis ab est fugiat!</p>
                </div>
                <div class="col-md-4">
                    <h4>News & Updates</h4>
                    <div class="animate-flicker">
                    <p>New batches starting soon. Contact us for more details.</p>
                    </div>
                </div>
                <div class="col-md-4 contact-us">
                    <h4>Contact Us</h4>
					<ul>
                            <li><a href="https://g.page/SmartstudySquare?share"><i class="fa fa-home"></i></a>New kishore gunj road no 6, road, Harmu, Ranchi, Jharkhand 834001</li>
                            <li><i class="fa fa-phone"></i>+91 62050 49443 </li>
                            <li><i class="fa fa-whatsapp"></i>+91 94713 53074</li>
                            <li><a href="mailto:smartstudysquare@gmail.com"><i class="fa fa-envelope-o"></i></a>smartstudysquare@gmail.com</li>
                        </ul> 
                </div>
            </div>
        </div>
    </section>


    <footer>

        <div class="container">
            <div class="row">
                <div class="footer-containertent">

                    <ul class="footer-social-info">
                        <li>
                            <a href="https://www.facebook.com/Smartstudy-Square-113997110378856/"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/smartstudysquare/"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCTWd-4fn3KLaAN9wMfpPWtw?view_as=subscriber"><i class="fa fa-youtube"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </li>
                    </ul>
					<br/><br/>
					<p>Copyright © 2020. Designed</a> by Ankit </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    <script>
    if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
    }
</script>
	<script src="static/SmartstudySquare/js/jquery-1.11.3.min.js"></script>
	<script src="static/SmartstudySquare/js/bootstrap.min.js"></script>
	<script src="static/SmartstudySquare/js/modernizr.min.js"></script>
	<script src="static/SmartstudySquare/js/jquery.easing.1.3.js"></script>
	<script src="static/SmartstudySquare/js/jquery.scrollUp.min.js"></script>
	<script src="static/SmartstudySquare/js/jquery.easypiechart.js"></script>
	<script src="static/SmartstudySquare/js/isotope.pkgd.min.js"></script>
	<script src="static/SmartstudySquare/js/jquery.fitvids.js"></script>
	<script src="static/SmartstudySquare/js/jquery.stellar.min.js"></script>
	<script src="static/SmartstudySquare/js/jquery.waypoints.min.js"></script>
	<script src="static/SmartstudySquare/js/wow.min.js"></script>
	<script src="static/SmartstudySquare/js/jquery.nav.js"></script>
	<script src="static/SmartstudySquare/js/imagesloaded.pkgd.min.js"></script>
	<script src="static/SmartstudySquare/js/smooth-scroll.min.js"></script>
	<script src="static/SmartstudySquare/js/jquery.magnific-popup.min.js"></script>
	<script src="static/SmartstudySquare/js/jquery.sliderPro.min.js"></script>
	<script src="static/SmartstudySquare/js/owl.carousel.min.js"></script>
	<script src="static/SmartstudySquare/js/custom.js"></script>

</body>
</html>
